:root{
    --pink: #f3617d;
    --green: #abd593;
}
body {
    margin: 0;
    font-family: "Montserat", sans-serif;
    overflow-x: hidden;
}
.container {
    width: 1030px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
}
.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.menu {
    display: flex;
    align-items: center;
    z-index: 10;
}
.menu a{
    margin-right: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
    font-size: 10px;
}
.menu a:hover{
    color: var(--green)
}
@keyframes blink {
    0% {opacity: 1;}
    33% {opacity: 0.3;}
    66% {opacity: 1;}
    100% {opacity: 1;}
}
.menu a:first-child {
    animation: blink 1.5s linear infinite;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.home a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
    font-size: 10px;
}
.home a:hover {
    color: var(--green)
}
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
.social-links img {
    width: 20px;
    height: 20px;
    background-color: var(--pink);
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
    margin-left: 10px;
}
.social-links img:hover {
    background-color: var(--green);
}
.social-links a {
    display: flex;
    align-items: center;
}
.content {
    background-image: url(img/bg.jpg);
    background-size: 100%;
    background-position: center -40px;
    position: relative;
    background-repeat: no-repeat;
}
.banner-cat {
    background-image: url(img/lilbub_ears.png),url(img/lilbub.png);
    background-repeat: no-repeat, no-repeat;
    width: 422px;
    height: 442px;
    background-position: -18px top, center bottom;
    background-size: 444px, 100%;
}
.banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    top:-24px;
    z-index: 5;
}
.eye {
    background-image: url(img/lilbub_wink.png);
    background-repeat: no-repeat;
    width: 422px;
    height: 442px;
    background-position: center bottom;
    display: none;
}
.banner-cat:hover .eye {
    display: block;
}
.ufo {
    position: absolute;
    top: 0;
    left: 0;
    animation: ufo 20s ease-in-out infinite;
    z-index: 2;
}
@keyframes ufo {
    0% {
        left: -10%;
        transform: translate(0,30px);
    }
    8% {
        left: 25%;
        transform: translate(0,300px);
    }
    16% {
        left: 50%;
        transform: translate(0,30px);
    }
    24% {
        left: 75%;
        transform: translate(0,300px);
    }
    32% {
        left: 105%;
        transform: translate(0,30px);
    }
    48% {
        left: 105%;
        transform: translate(0,300px);
    }
    56% {
        left: 75%;
        transform: translate(0,30px);
    }
    64% {
        left: 50%;
        transform: translate(0,300px);
    }
    72% {
        left: 25%;
        transform: translate(0,30px);
    }
    80% {
        left: -10%;
        transform: translate(0,300px);
    }
    100% {
        left: -10%;
        transform: translate(0,30px);
    }
}
.blog.container {
    display: grid;
    padding: 25px;
    background-color: white;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 140px 140px 140px 320px 222px;
    margin-top: -24px;
    grid-gap: 25px;    
}
.last-news {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info {
    flex: 1 1 auto;
    margin-right: 25px;
}
.preview {
    flex: 0 0 310px;
    display: flex;
    align-items: flex-end;
    background-image: url(img/square.png);
    height: 310px;
}
.last-news h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
    margin: 0 0 10px 0;
}
.last-news p{
    font-size: 21px;
    line-height: 30px;
    margin-top: 21px;
}
.pink-btn { 
    background-color: var(--pink);
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    font-size: 10px;
    transition: 0.4s ease;
}
.pink-btn:hover {
    background-color: var(--green);
}
.preview .pink-btn {
    margin: 0px 0px 10px 10px;
}
.post-banner {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.post-banner:nth-child(2) {
    background-image: url(img/ad_weatherbub.jpg);
}
.post-banner:nth-child(3) {
    background-image: url(img/ad_loop.jpg);
}
.post-banner:nth-child(4) {
    background-image: url(img/button_thebubstore.jpg);
}
.post-banner:nth-child(5) {
    background-image: url(img/button_bigfund.jpg);
}
.post-banner:nth-child(8) {
    background-image: url(img/button_lilbubandfriendz.jpg);
}
.post-banner:nth-child(9) {
    background-image: url(img/button_lilbubsspecialspecial.jpg);
}
.post-banner:nth-child(10) {
    background-image: url(img/button_lilbubslilbook.jpg);
}
.half-banner {
    grid-column: span 3;
}
.full-banner {
    grid-column: span 6;
}
.one-third-banner {
    grid-column: span 2;
}
.overlay {
    background-color: rgba(243,97,125,0.85);
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 40px;
    box-sizing: border-box;
    flex-direction: column;
}
.overlay:hover{
    opacity: 1;
}
.overlay p{
    color: #FFFFFF;
    line-height: 18px;
    cursor: pointer;
    text-align: center;
}
.white-btn {
    border: none;
    color: var(--pink);
    background-color: white;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 4px;
    font-size: 10px;
    transition: 0.4s ease;
}
.white-btn:hover {
    background-color: var(--green);
}
.video-title {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin: 10px 0;
    padding-left: 20px;
    text-transform: uppercase;
}
.video-banner {
    background: #1b1b1b;
}
.links a, 
.copywrite a{
    margin-right: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
    font-size: 10px;
}
.links a:hover,
.copywrite a:hover {
    color: var(--green)
}
ul.links {
    list-style-type: none;
    padding-left: 0;
}
.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 24px;
}
.copywrite p {
    font-size: 11px;
    line-height: 18px;
    color: #6d6c6c;
}

@media (max-width: 1030px) {
    .header-container {
        grid-template-columns: 1fr;
    }
    .menu {
        flex-direction: column;
        margin-top: 10px;
    }  
    .home {
        display: none;
    }  
    .social-links  {
        justify-content: center;
        margin: 10px 0;
    }
    .menu a {
        margin-right: 0;
    }
    .container {
        width: 100%;
    }
    .social-links a:first-child img {
        margin-left: 0;  
    }
    .banner-title {
        display: none;
    }
    .banner-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .last-news {
        flex-direction: column;
    }
    .preview {
        order: -1;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
    }
    .info {
        margin-right: 0;
        text-align: center;
    }
    .blog.container {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
    }
    .full-banner,
    .half-banner,
    .one-third-banner {
        grid-column: 1;
        
    }
    .full-banner .overlay {
        height: 50px;
    }
    .half-banner .overlay {
        height: 125px;
    }
    .one-third-banner .overlay {
        height: 200px;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .copywrite {
        order: 10;
        grid-column: span 3;
    }
}