:root{
    --pink: #f3617d;
    --green: #abd593;
}
div, header, footer{
    outline: 1px dotted red;
}
body {
    margin: 0;
    font-family: "Montserat", sans-serif;
    overflow-x: hidden;
}
.container {
    width: 1030px;
    margin: 0 auto;
    padding: 0 25px;
}
.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.menu {
    display: flex;
    align-items: center;
    z-index: 10;
}
.menu a{
    margin-right: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
    font-size: 10px;
}
.menu a:hover{
    color: var(--green)
}
@keyframes blink {
    0% {opacity: 1;}
    33% {opacity: 0.3;}
    66% {opacity: 1;}
    100% {opacity: 1;}
}
.menu a:first-child {
    animation: blink 1.5s linear infinite;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.home a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
    font-size: 10px;
}
.home a:hover {
    color: var(--green)
}
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
.social-links img {
    width: 20px;
    height: 20px;
    background-color: var(--pink);
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
    margin-left: 10px;
}
.social-links img:hover {
    background-color: var(--green);
}
.social-links a {
    display: flex;
    align-items: center;
}
.content {
    background-image: url(img/bg.jpg);
    background-size: 100%;
    background-position: center -40px;
    position: relative;
}
.banner-cat {
    background-image: url(img/lilbub_ears.png),url(img/lilbub.png);
    background-repeat: no-repeat, no-repeat;
    width: 422px;
    height: 442px;
    background-position: -18px top, center bottom;
    background-size: 444px, 100%;
}
.banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    top:-24px;
    z-index: 5;
}
.eye {
    background-image: url(img/lilbub_wink.png);
    background-repeat: no-repeat;
    width: 422px;
    height: 442px;
    background-position: center bottom;
    display: none;
}
.banner-cat:hover .eye {
    display: block;
}
.ufo {
    position: absolute;
    top: 0;
    left: 0;
    animation: ufo 20s ease-in-out infinite;
    z-index: 2;
}
@keyframes ufo {
    0% {
        left: -10%;
        transform: translate(0,30px);
    }
    8% {
        left: 25%;
        transform: translate(0,300px);
    }
    16% {
        left: 50%;
        transform: translate(0,30px);
    }
    24% {
        left: 75%;
        transform: translate(0,300px);
    }
    32% {
        left: 105%;
        transform: translate(0,30px);
    }
    48% {
        left: 105%;
        transform: translate(0,300px);
    }
    56% {
        left: 75%;
        transform: translate(0,30px);
    }
    64% {
        left: 50%;
        transform: translate(0,300px);
    }
    72% {
        left: 25%;
        transform: translate(0,30px);
    }
    80% {
        left: -10%;
        transform: translate(0,300px);
    }
    100% {
        left: -10%;
        transform: translate(0,30px);
    }
}
